/.*
*.dll
*.log*
/*.jar
/minecraft/*.jar

active
banned-ips.txt
banned-players.txt
bin/
crash-reports/
hats/
icon.png
IDMap*.txt
journeyMap/
lib/
libraries/
miscperipherals/
ops.txt
resources/
saves/
screenshots/
server.properties
stats/
white-list.txt
world/

**/config/HeldCore/
**/mods/VoxelMods/

# Negations
!.gitattributes
!.gitignore
!.gitmodules
