[project]
	description = SpeechTechers Minecraft Mod Pack
[access "refs/*"]
	owner = group user/Andrew Cooper (AndrewCooper)
[access "refs/for/refs/*"]
	read = group user/Andrew Cooper (AndrewCooper)
	push = group user/Andrew Cooper (AndrewCooper)
	label-Code-Review = -2..+2 group user/Andrew Cooper (AndrewCooper)
	label-Verified = -1..+1 group user/Andrew Cooper (AndrewCooper)
	rebase = group user/Andrew Cooper (AndrewCooper)
	removeReviewer = group user/Andrew Cooper (AndrewCooper)
	submit = group user/Andrew Cooper (AndrewCooper)
[access "refs/heads/*"]
	read = group user/Andrew Cooper (AndrewCooper)
	create = group user/Andrew Cooper (AndrewCooper)
	push = +force group user/Andrew Cooper (AndrewCooper)
	pushMerge = group user/Andrew Cooper (AndrewCooper)
[access "refs/tags/*"]
	push = +force group user/Andrew Cooper (AndrewCooper)
	pushTag = group user/Andrew Cooper (AndrewCooper)
	pushSignedTag = group user/Andrew Cooper (AndrewCooper)
