# Configuration file

####################
# crafting recipes
####################

"crafting recipes" {
    # Enabled the crafting recipe of the DiamondHorseArmor.
    B:DiamondHorseArmorRecipe=true

    # Enabled the crafting recipe of the GoldHorseArmor.
    B:GoldHorseArmorRecipe=true

    # Enabled the crafting recipe of the IronHorseArmor.
    B:IronHorseArmorRecipe=true

    # Enabled the crafting recipe of the Lead.
    B:LeadRecipe=true

    # Enabled the crafting recipe of the NameTag.
    B:NameTagRecipe=true

    # Enabled the crafting recipe of the Saddle.
    B:SaddleRecipe=true
}


####################
# hardcore mode
####################

"hardcore mode" {
    # Is Hardcore Mode enabled?
    B:Hardcore=false
    B:IsHardcoreMode=false
}


####################
# item id
####################

"item id" {
    I:"HorseSaddle ID"=6721
    I:"Items ID"=6726
    I:"Knot ID"=6722
    I:"Rope ID"=6723
    I:"Stirrup ID"=6724
    I:"Tag ID"=6725
}


####################
# recipes
####################

recipes {
    B:RecipeOfDiamondHorseArmor=true
    B:RecipeOfGoldHorseArmor=true
    B:RecipeOfIronHorseArmor=true
    B:RecipeOfLead=true
    B:RecipeOfNameTag=true
    B:RecipeOfSaddle=true
}


