# Configuration file

####################
# block
####################

block {
    I:ID.BioFuel.Still=3000
    I:ID.Bricks=3001
    I:ID.CargoRailDropoffBlock=3002
    I:ID.CargoRailPickupBlock=3003
    I:ID.ChocolateMilk.Still=3004
    I:ID.ConveyorBlock=3005
    I:ID.FakeLaser=3006
    I:ID.MachineBlock=3007
    I:ID.MachineBlock1=3008
    I:ID.MachineBlock2=3009
    I:ID.Meat.Still=3010
    I:ID.Milk.Still=3011
    I:ID.MobEssence.Still=3012
    I:ID.MushroomSoup.Still=3013
    I:ID.PassengerRailDropoffBlock=3014
    I:ID.PassengerRailPickupBlock=3015
    I:ID.PinkSlime.Still=3016
    I:ID.RedNet.Cable=3017
    I:ID.RedNet.Logic=3018
    I:ID.RedNet.Panel=3019
    I:ID.Road=3020
    I:ID.RubberLeaves=3021
    I:ID.RubberSapling=3022
    I:ID.RubberWood=3023
    I:ID.Sewage.Still=3024
    I:ID.Sludge.Still=3025
    I:ID.StainedGlass=3026
    I:ID.StainedGlassPane=3027
    I:ID.Stone=3028
    I:ID.VineScaffold=3029
}


####################
# entity
####################

entity {
    I:ID.Zoologist=330
}


####################
# general
####################

general {
    B:AutoEnchanter.EnableSafeMode=false

    # The work required to generate a mob in exact mode.
    I:AutoSpawner.Cost.Exact=50

    # The work required to generate a mob in standard (non-exact) mode.
    I:AutoSpawner.Cost.Standard=15

    # If the number of entities in the breeder's target area exceeds this value, the breeder will cease operating. This is provided to control server lag.
    I:Breeder.ShutdownThreshold=50

    # If false, conveyors will not grab non-item entities. Breaks conveyor mob grinders but makes them safe for golems, etc.
    B:Conveyor.CaptureNonItems=true

    # If true, conveyors will NEVER capture players regardless of other settings.
    B:Conveyor.NeverCapturePlayers=false

    # If true, conveyors will NEVER capture Thaumcraft golems regardless of other settings.
    B:Conveyor.NeverCaptureTCGolems=false
    B:DSU.CraftSingle=false
    B:DSU.EnableCheaperRecipe=false
    B:EnableMossyCobbleRecipe=true

    # If true, the fertilizer will use bonemeal as well as MFR fertilizer. Provided for those who want a less work-intensive farm.
    B:Fertilizer.EnableBonemeal=false

    # The work required by the drill to generate a single ore.
    I:LaserDrill.Cost=300

    # If true, meat will be worth steak saturation instead of cookie saturation.
    B:Meat.IncreasedSaturation=false

    # Set to false to disable the harvester's sound when a block is harvested.
    B:PlaySounds=true

    # A comma-separated list of block IDs to prevent RedNet cables from connecting to.
    S:RedNet.ConnectionBlackList=

    # If true, RedNet cables will dump a massive amount of data to the log file. You should probably only use this if PC tells you to.
    B:RedNet.Debug=false

    # Set to true to enable the RedNet GUI's colorblind mode.
    B:RedNet.EnableColorblindMode=false

    # If true, roads will be slippery like ice.
    B:Road.Slippery=true

    # When searching for parts of a fruit tree, how far out to the sides (radius) to search
    I:SearchDistance.FruitTreeMaxHoriztonal=5

    # When searching for parts of a fruit tree, how far up to search
    I:SearchDistance.FruitTreeMaxVertical=20

    # When searching for players or dropoff locations, how far out to the sides (radius) to search
    I:SearchDistance.PassengerRailMaxHorizontal=3

    # When searching for players or dropoff locations, how far up to search
    I:SearchDistance.PassengerRailMaxVertical=2

    # How far upward to search for members of "stacking" blocks, like cactus and sugarcane
    I:SearchDistance.StackingBlockMaxVertical=3

    # When searching for parts of a tree, how far out to the sides (radius) to search
    I:SearchDistance.TreeMaxHoriztonal=8

    # When searching for parts of a tree, how far up to search
    I:SearchDistance.TreeMaxVertical=40

    # If true, when you have no empty slots in your inventory, you will continue filling buckets from tanks and drop them on the ground.
    B:Tanks.FillWithoutEmptySlots=true

    # A comma-separated list of ore dictionary entrys to disable unifying for. By default, MFR will not attempt to unify anything with more than one oredict name.
    S:Unifier.Blacklist=dyeBlue,dyeWhite

    # If true, allows vanilla glass panes to connect to MFR stained glass panes.
    B:VanillaOverride.GlassPanes=true

    # If true, enables MFR unmelting ice as well as vanilla ice.
    B:VanillaOverride.Ice=true

    # If true, replaces the vanilla milk bucket so milk can be placed in the world.
    B:VanillaOverride.MilkBucket=true

    # A comma-separated list of dimension IDs to disable MFR worldgen in. By default, MFR will not attempt worldgen in dimensions where the player cannot respawn.
    S:WorldGen.DimensionBlacklist=

    # Higher numbers make sewage lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sewage=32

    # Higher numbers make sludge lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sludge=32

    # Whether or not to generate MFR lakes during map generation
    B:WorldGen.MFRLakes=true

    # Whether or not to generate rubber trees during map generation
    B:WorldGen.RubberTree=true

    # A comma-separated list of biomes to disallow rubber trees to spawn in. Overrides any other biomes added.
    S:WorldGen.RubberTreeBiomeBlacklist=

    # A comma-separated list of biomes to allow rubber trees to spawn in. Does nothing if rubber tree worldgen is disabled.
    S:WorldGen.RubberTreeBiomeWhitelist=
}


####################
# item
####################

item {
    I:ID.BioFuel=7500
    I:ID.BioFuelBucket=7501
    I:ID.BlankRecord=7502
    I:ID.CeramicDye=7503
    I:ID.ChocolateMilkBucket=7504
    I:ID.FertilizerItem=7505
    I:ID.Hammer=7506
    I:ID.LaserFocus=7507
    I:ID.MachineBlock=7508
    I:ID.MeatBucket=7509
    I:ID.MeatIngotCooked=7510
    I:ID.MeatIngotRaw=7511
    I:ID.MeatNuggetCooked=7512
    I:ID.MeatNuggetRaw=7513
    I:ID.Milk=7514
    I:ID.MilkBottle=7515
    I:ID.MobEssence=7516
    I:ID.MobEssenceBucket=7517
    I:ID.MushroomSoupBucket=7518
    I:ID.NeedleGun=7519
    I:ID.NeedleGun.Ammo.Anvil=7520
    I:ID.NeedleGun.Ammo.Empty=7521
    I:ID.NeedleGun.Ammo.Fire=7522
    I:ID.NeedleGun.Ammo.Lava=7523
    I:ID.NeedleGun.Ammo.Sewage=7524
    I:ID.NeedleGun.Ammo.Sludge=7525
    I:ID.NeedleGun.Ammo.Standard=7526
    I:ID.PinkSlimeBucket=7527
    I:ID.PinkSlimeball=7528
    I:ID.PlasticCup=7529
    I:ID.PlasticSheet=7530
    I:ID.PortaSpawner=7531
    I:ID.RawPlastic=7532
    I:ID.RawRubber=7533
    I:ID.RedNet.MemoryCard=7534
    I:ID.RedNet.Meter=7535
    I:ID.Rocket=7536
    I:ID.RocketLauncher=7537
    I:ID.RubberBar=7538
    I:ID.Ruler=7539
    I:ID.SafariNet=7540
    I:ID.SafariNetJailer=7541
    I:ID.SafariNetLauncher=7542
    I:ID.SafariNetSingleUse=7543
    I:ID.Sewage=7544
    I:ID.SewageBucket=7545
    I:ID.Sludge=7546
    I:ID.SludgeBucket=7547
    I:ID.Spyglass=7548
    I:ID.Straw=7549
    I:ID.SugarCharcoal=7550
    I:ID.SyringeCure=7551
    I:ID.SyringeEmpty=7552
    I:ID.SyringeGrowth=7553
    I:ID.SyringeHealth=7554
    I:ID.SyringeSlime=7555
    I:ID.SyringeZombie=7556
    I:ID.Upgrade=7557
    I:ID.Upgrade.PRC=7558
    I:ID.XPExtractor=7559

    # If true, DSU can be built out of chests instead of ender pearls. Does nothing if the DSU recipe is disabled.
    B:Recipe.CheaperDSU=false

    # If true, the Guns will be craftable.
    B:Recipe.Guns=true

    # If true, mossy cobble can be crafted.
    B:Recipe.MossyCobble=true

    # If true, the safarinet launcher will be craftable.
    B:Recipe.NetLauncher=true

    # If true, the PortaSpawner will be craftable.
    B:Recipe.PortaSpawner=true

    # DSU recipes will always craft one DSU. Does nothing for recipes that already only craft one DSU (cheap mode, GT recipes, etc).
    B:Recipe.SingleDSU=false

    # If true, the Syringes will be craftable.
    B:Recipe.Syringes=true
}


####################
# machine
####################

machine {
    I:AutoAnvil.ActivationCostMJ=16
    B:AutoAnvil.Recipe.Enabled=true
    I:AutoBrewer.ActivationCostMJ=4
    B:AutoBrewer.Recipe.Enabled=true
    I:AutoDisenchanter.ActivationCostMJ=32
    B:AutoDisenchanter.Recipe.Enabled=true
    I:AutoEnchanter.ActivationCostMJ=16
    B:AutoEnchanter.Recipe.Enabled=true
    B:AutoJukebox.Recipe.Enabled=true
    I:AutoSpawner.ActivationCostMJ=60
    B:AutoSpawner.Recipe.Enabled=true
    I:BioFuelGenerator.ActivationCostMJ=16
    B:BioFuelGenerator.Recipe.Enabled=true
    B:BioReactor.Recipe.Enabled=true
    I:BlockBreaker.ActivationCostMJ=96
    B:BlockBreaker.Recipe.Enabled=true
    I:BlockPlacer.ActivationCostMJ=1
    B:BlockPlacer.Recipe.Enabled=true
    I:BlockSmasher.ActivationCostMJ=1
    B:BlockSmasher.Recipe.Enabled=true
    I:Breeder.ActivationCostMJ=64
    B:Breeder.Recipe.Enabled=true
    I:Chronotyper.ActivationCostMJ=128
    B:Chronotyper.Recipe.Enabled=true
    I:Composter.ActivationCostMJ=2
    B:Composter.Recipe.Enabled=true
    B:DeepStorageUnit.Recipe.Enabled=true
    B:Ejector.Recipe.Enabled=true
    B:EnchantmentRouter.Recipe.Enabled=true
    I:Fertilizer.ActivationCostMJ=96
    B:Fertilizer.Recipe.Enabled=true
    I:Fisher.ActivationCostMJ=2
    B:Fisher.Recipe.Enabled=true
    I:FruitPicker.ActivationCostMJ=32
    B:FruitPicker.Recipe.Enabled=true
    I:Grinder.ActivationCostMJ=320
    B:Grinder.Recipe.Enabled=true
    I:Harvester.ActivationCostMJ=24
    B:Harvester.Recipe.Enabled=true
    B:ItemCollector.Recipe.Enabled=true
    B:ItemRouter.Recipe.Enabled=true
    B:LaserDrill.Recipe.Enabled=true
    I:LaserDrillPrecharger.ActivationCostMJ=500
    B:LaserDrillPrecharger.Recipe.Enabled=true
    I:LavaFabricator.ActivationCostMJ=20
    B:LavaFabricator.Recipe.Enabled=true
    B:LiquiCrafter.Recipe.Enabled=true
    B:LiquidRouter.Recipe.Enabled=true
    I:MeatPacker.ActivationCostMJ=2
    B:MeatPacker.Recipe.Enabled=true
    B:MobCounter.Recipe.Enabled=true
    I:OilFabricator.ActivationCostMJ=147
    B:OilFabricator.Recipe.Enabled=true
    I:Planter.ActivationCostMJ=16
    B:Planter.Recipe.Enabled=true
    I:Rancher.ActivationCostMJ=32
    B:Rancher.Recipe.Enabled=true
    B:RedNote.Recipe.Enabled=true
    B:Sewer.Recipe.Enabled=true
    I:Slaughterhouse.ActivationCostMJ=100
    B:Slaughterhouse.Recipe.Enabled=true
    I:SludgeBoiler.ActivationCostMJ=2
    B:SludgeBoiler.Recipe.Enabled=true
    I:SteamTurbine.ActivationCostMJ=8
    B:SteamTurbine.Recipe.Enabled=true
    B:Unifier.Recipe.Enabled=true
    I:Vet.ActivationCostMJ=32
    B:Vet.Recipe.Enabled=true
    I:WeatherCollector.ActivationCostMJ=4
    B:WeatherCollector.Recipe.Enabled=true
}


####################
# recipesets
####################

recipesets {
    # If true, MFR will register its GregTech-based recipes.
    B:EnableGregTechRecipes=false

    # If true, MFR will register its Thermal Expansion-based recipes.
    B:EnableThermalExpansionRecipes=false

    # If true, MFR will register its standard (vanilla-item-only) recipes.
    B:EnableVanillaRecipes=true
}


